<h1>Create Source</h1>

<%= form_for @source do |f| %>
  <p>
    <%= f.label :name %>
      <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
      <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :notes %>
      <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.label :url %>
      <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :key %>
      <%= f.text_field :key %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>