<h1>Show source</h1>

<p>name<%= @source.name %></p>
<p><%= @source.description %></p>
<p><%= @source.notes %></p>
<p><%= @source.url %></p>
<p><%= @source.key %></p>

<hr />
<hr />

<button class='api-get'>Get api data</button>