<!DOCTYPE html>
<html>

<head>
  <title>NewsApis</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-3d.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <script>window._rails_env = "<%= Rails.env %>"</script>
</head>

<body>
  <div id='articles-nav'>*********** Articles Nav goes here ************</div>
  <div id='nyt-articles'>*********** NYT Articles go here ************</div>
  <%= yield %>
</body>

</html>